<main class="container p-5">
    <h2 class="mb-5">
        To Dos List
    </h2>
    <app-todo-stats></app-todo-stats>
    <div class="row g-3">
        @if(hasError()) {
        <div class="alert alert-danger w-100">
            {{errorMessage()}}
        </div>
        } @else {
        @for (item of toDosList(); track $index) {
        <div class="col-sm-6">
            <app-to-do-list [todo]="item" (toggleCompleted)="onToggleTodo($event)"></app-to-do-list>
        </div>
        }
        }
    </div>
</main>